body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  
  .input-container p {
    margin-right: 10px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #333;
  }